<h1>Listing articles</h1>

<%= link_to 'New article', new_article_path %>

<table border="1">
    <tr>
        <th>Title</th>
        <th>Text</th>
        <th colspan="3"></th>
    </tr>

    <% @articles.each do |article| %>
        <tr>
            <td><%= article.title %></td>
            <td><%= article.text %></td>
            <!-- link_to 方法是 Rails 内置的视图辅助方法之一. 用于创建基于链接文件和地址的超链接. -->
            <td><%= link_to 'Show', article_path(article) %></td>
            <td><%= link_to 'Edit', edit_article_path(article) %></td>
            <!-- 这个 Destory 链接的用法有点不同, 其中第二个参数是具名路由(named route), 还有一些选项作为其他参数. method: :delete 和 data: { confirm: 'Are you sure?' } 选项用于设置链接的 HTML5属性, 这样点击链接后 Rails 会先向用户显示一个确认对话框, 然后用 delete 方法发起请求. -->
            <td><%= link_to 'Destory', article_path(article),
                    method: :delete,
                    data: { confirm: 'Are you sure?' } %></td>
        </tr>
    <% end %>

</table>
